version: '3.8'

services:
  # ----------------------------
  # 1. Geth Node (v1.12.2 - Stable PoA)
  # ----------------------------
  geth:
    build:
      context: ./geth-config
      dockerfile: Dockerfile
    volumes:
      - geth_data:/root/.ethereum
    ports:
      - "8545:8545"
      - "8546:8546"
    expose:
      - "8545"
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G

  # ----------------------------
  # 2. RPC Proxy (Nginx with Dynamic Resolver)
  # ----------------------------
  rpc-proxy:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    expose:
      - "80"
    restart: always

  # ----------------------------
  # 3. Explorer (Alethio)
  # ----------------------------
  explorer:
    image: alethio/ethereum-lite-explorer:latest
    restart: always
    environment:
      - APP_NODE_URL=https://rpc.blockchain.akadal.tr
    ports:
      - "4000:80"
    expose:
      - "80"

  # ----------------------------
  # 4. Faucet
  # ----------------------------
  faucet:
    build:
      context: ./faucet
      dockerfile: Dockerfile
    restart: always
    environment:
      - RPC_URL=http://geth:8545
      - PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
      - PORT=3000
    ports:
      - "3000:3000"
    expose:
      - "3000"
    depends_on:
      - geth
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  geth_data:
