services:
  # ----------------------------
  # 1. Geth Node (Optimized for Low RAM)
  # ----------------------------
  geth:
    image: ethereum/client-go:stable
    command: >
      --dev  --dev.period 0  --http  --http.addr 0.0.0.0  --http.port 8545  --http.vhosts "*"  --http.corsdomain "*"  --http.api "eth,net,web3,debug,personal,txpool"  --ws  --ws.addr 0.0.0.0  --ws.port 8546 --ws.origins "*" --ws.api "eth,net,web3,debug,personal,txpool" --networkid 1337 --cache 256 --gcmode archive --allow-insecure-unlock
    ports:
      - "8545:8545" # RPC
      - "8546:8546" # WS
    volumes:
      - geth_data:/root/.ethereum
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G # Hard limit for low-spec VPS
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8545", "--post-data='{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}'", "--header='Content-Type: application/json'" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # ----------------------------
  # 2. Otterscan (Lightweight Explorer)
  # ----------------------------
  explorer:
    image: otterscan/otterscan:latest
    restart: always
    environment:
      # Otterscan configuration
      - ERIGON_URL=https://rpc.blockchain.akadal.tr
    ports:
      - "4000:80"

  # ----------------------------
  # 3. Faucet
  # ----------------------------
  faucet:
    build: ./faucet
    restart: always
    environment:
      - RPC_URL=http://geth:8545
      - PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - geth
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  geth_data:
